.card{
    width: 30%;
    border: solid 1px lightgrey;
    margin-bottom: 15px;
    box-sizing: border-box;
    
}
.imageNested{
    width: 100%;
}
.name{
text-align: center;
}
.buttons{
    text-align: center;
    padding: 7px;
    margin-bottom: 20px;
}
button{
    margin-right: 5px;
    padding: 5px;
}
